@import 'template';

/* -----------------------------------
 *
 * Articles
 *
 * -------------------------------- */

.articles {
  display: block;
  margin: 0 0 0 rem(2);
  padding: 0 0 0 rem(15);
  border-left: rem(5) solid $colour-accent;
  list-style: none;

  li {
    margin-bottom: rem(10);
    font-size: rem(16);
  }

  a {
    color: $colour-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
