@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  display: flex;
  height: 0;
  min-height: 100%;
  flex-direction: column;
}

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  position: relative;
  display: flex;
  z-index: 2;
  padding: rem(30) 0 0;
  flex: 1 0 auto;
  background-color: white;

  // temp
  justify-content: center;
  align-items: center;
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  text-align: center;
  font-weight: 300;
  font-family: $font-accent;
  font-size: rem(32);
  margin: 0;

  em {
    font-weight: 500;
    font-style: normal;
  }
}
