@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  display: flex;
  height: 0;
  min-height: 100%;
  flex-direction: column;
}

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
  background: white;
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;
}

/* -----------------------------------
 *
 * Layout
 *
 * -------------------------------- */

.layout {
  @extend %sidebar;

  padding-top: rem(35);
  padding-bottom: rem(35);

  @include breakpoint('md') {
    padding-top: rem(60);
    padding-bottom: rem(60);
  }

  aside {
    display: flex;
    flex-direction: column;

    @include breakpoint('lg') {
      display: block;
    }
  }
}

/* -----------------------------------
 *
 * Articles
 *
 * -------------------------------- */

.articles {
  @extend %margin-normal;
}

/* -----------------------------------
 *
 * Heading
 *
 * -------------------------------- */

.heading {
  @extend %heading-normal;
}

/* -----------------------------------
 *
 * Profile
 *
 * -------------------------------- */

.profile {
  @extend %margin-normal;

  display: none;

  @include breakpoint('lg') {
    display: block;
  }
}

/* -----------------------------------
 *
 * Recent
 *
 * -------------------------------- */

.recent {
  @extend %margin-normal;
}
