/* -----------------------------------
 *
 * Article
 *
 * -------------------------------- */

%article {
  color: #222;

  h2,
  h3,
  h4,
  h5 {
    font-family: $font-accent;
    font-weight: 400;
    line-height: 1.4;
    margin: 1.5em 0 1em;
  }

  h2 {
    font-size: rem(24);

    @include breakpoint('md') {
      font-size: rem(30);
    }
  }

  h3 {
    font-size: rem(20);

    @include breakpoint('md') {
      font-size: rem(26);
    }
  }

  h4 {
    font-size: rem(18);
    font-weight: 600;

    @include breakpoint('md') {
      font-size: rem(22);
    }
  }

  blockquote {
    margin: 0;
    padding: 0 0 0 rem(20);
    border-left: rem(4) solid #b6b6b6;
    color: #444;
  }

  p {
    font-size: rem(16);
    margin: 0 0 1.5em;
    line-height: 1.5;

    @include breakpoint('md') {
      font-size: rem(18);
    }
  }

  ul,
  ol {
    line-height: 1.4;
    list-style: none;
    margin: 0 0 1.5em;
    font-size: rem(16);
    padding: 0 0 0 rem(35);
    counter-reset: item;

    @include breakpoint('md') {
      font-size: rem(18);
      padding: 0 0 0 rem(50);
    }

    li {
      position: relative;
      margin: 0 0 1em;

      &:before {
        position: absolute;
        font-family: $font-accent;
        font-size: 1em;
        content: counter(item);
        counter-increment: item;
        color: white;
        right: calc(100% + #{rem(12)});
        line-height: 1;
        background: #333;
        font-weight: 400;
        text-align: center;
        padding: rem(2) 0;
        margin: rem(2) 0 0;
        min-width: rem(20);
        box-shadow: rem(2) 0 0 #333, rem(-2) 0 0 #333;
      }
    }
  }

  pre {
    font-size: rem(16);
    margin: 0 0 1.5em;

    @include breakpoint('md') {
      font-size: rem(18);
    }
  }

  code[class^='language-'] {
    max-width: rem(560);
    padding: rem(15) !important;
    box-sizing: border-box;
    border-radius: rem(4);
  }
}
