/* -----------------------------------
 *
 * Article
 *
 * -------------------------------- */

%article {
  color: $colour-text;
  font-weight: 300;
  font-size: rem(19);

  @include breakpoint('md') {
    font-size: rem(22);
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $font-accent;
    font-weight: 400;
    line-height: 1.4;
    color: $colour-heading;
    margin: 1.75em 0 1em;
  }

  h2 {
    font-size: rem(26);

    @include breakpoint('md') {
      font-size: rem(30);
    }
  }

  h3 {
    font-size: rem(22);

    @include breakpoint('md') {
      font-size: rem(26);
    }
  }

  h4 {
    font-size: rem(20);
    font-weight: 600;
    text-transform: uppercase;

    @include breakpoint('md') {
      font-size: rem(24);
    }
  }

  blockquote {
    margin: 0;
    padding: 0 0 0 rem(20);
    border-left: rem(4) solid #b6b6b6;
    color: #444;
  }

  p {
    margin: 0 0 1em;
    line-height: 1.5;
  }

  strong {
    font-weight: 500;
  }

  a {
    font-family: $font-accent;
    color: #222;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }

  ul,
  ol {
    line-height: 1.4;
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0 0 0 rem(35);
    counter-reset: item;

    @include breakpoint('md') {
      padding: 0 0 0 rem(50);
    }

    li {
      position: relative;
      margin: 0 0 0.5em;

      &:before {
        position: absolute;
        font-family: $font-accent;
        font-size: 0.8em;
        content: counter(item);
        counter-increment: item;
        color: white;
        right: calc(100% + #{rem(12)});
        line-height: 1;
        background: #333;
        font-weight: 400;
        text-align: center;
        padding: rem(4) 0;
        margin: 0.15em 0 0;
        min-width: rem(20);
        border-radius: rem(2);
        box-shadow: rem(2) 0 0 #333, rem(-2) 0 0 #333;
      }
    }
  }

  pre {
    font-size: rem(17);
    margin: 2em 0;
    border-radius: rem(4);
    overflow: auto;

    @include breakpoint('md') {
      font-size: rem(19);
    }
  }

  pre code[class*='language-'] {
    display: inline-block;
    padding: rem(15);
    min-width: 100%;
    background: #23241f;
    border-radius: rem(4);
    box-sizing: border-box;
  }

  code:not([class*='language-']) {
    display: inline-block;
    font-weight: 400;
    background: $colour-light;
    border: rem(1) solid $colour-shadow;
    padding: 0 rem(4);
    border-radius: rem(2);
    font-size: inherit;
    box-sizing: border-box;
  }
}
