/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

%container {
  box-sizing: border-box;
  width: 100%;
  max-width: $screen-xl;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include breakpoint('md') {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include breakpoint('lg') {
    padding-left: 100px;
    padding-right: 100px;
  }
}
