/* -----------------------------------
 *
 * Tags
 *
 * -------------------------------- */

%tags {
  display: block;
  margin: 0;

  a {
    display: inline-block;
    margin: 0 rem(5) rem(5) 0;
    border: rem(1) solid $colour-shadow;
    background: $colour-light;
    border-radius: rem(2);
    padding: rem(4) rem(8);
    color: $colour-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
