/* -----------------------------------
 *
 * Tags
 *
 * -------------------------------- */

%tags {
  display: block;

  a {
    display: inline-block;
    margin: 0 rem(5) rem(5) 0;
    border: rem(1) solid #d6d6d6;
    background: #fbfbfb;
  }
}
