@import 'template';

/* -----------------------------------
 *
 * HTML
 *
 * -------------------------------- */

.html {
  height: 100%;
}

/* -----------------------------------
 *
 * Body
 *
 * -------------------------------- */

.body {
  background: #333;
  margin: 0;
  height: 100%;
}
