@import 'template';

/* -----------------------------------
 *
 * Header
 *
 * -------------------------------- */

.header {
  @extend %container;

  position: relative;
  display: flex;
  height: rem(78);
  max-width: none;
  padding-top: rem(30);
  padding-bottom: rem(10);
  align-items: center;
  z-index: 2;
}

/* -----------------------------------
 *
 * Logo
 *
 * -------------------------------- */

.logo {
  font-family: $font-accent;
  font-size: rem(24);
  font-weight: 300;
  color: white;
  text-decoration: none;
  letter-spacing: rem(-1);

  &:after {
    display: inline-block;
    vertical-align: baseline;
    content: '';
    width: 0.25em;
    height: 0.25em;
    margin: 0 0 0 0.15em;
    background: $colour-accent;
    border-radius: rem(1);
  }
}

/* -----------------------------------
 *
 * Menu
 *
 * -------------------------------- */

.menu {
  margin-left: auto;

  a {
    color: white;
    font-size: rem(16);
    font-weight: 300;
    text-decoration: none;
    margin: 0 rem(20);

    @include breakpoint('md') {
      font-size: rem(22);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
