@import 'template';

/* -----------------------------------
 *
 * Tile
 *
 * -------------------------------- */

.tile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
}

/* -----------------------------------
 *
 * Image
 *
 * -------------------------------- */

.image {
  position: relative;
  display: none;
  margin: 0;
  width: rem(100);
  box-shadow: 0 rem(2) rem(4) rgba(0, 0, 0, 0.3);
  border-radius: rem(5);
  overflow: hidden;
  flex-shrink: 0;

  @include breakpoint('sm') {
    display: block;
  }

  @include breakpoint('md') {
    width: rem(180);
  }

  @include breakpoint('lg') {
    width: 25%;
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    z-index: 2;
    transition: background ease-in-out 0.5s;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    background: rgba(34, 34, 34, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background ease-in-out 0.5s;
  }

  &:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 60%);
  }

  .tile:hover &:before {
    background: none;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  flex: 1 1 auto;

  @include breakpoint('sm') {
    padding: 0 0 0 rem(20);
  }

  @include breakpoint('md') {
    padding: 0 0 0 rem(50);
  }
}

/* -----------------------------------
 *
 * Link
 *
 * -------------------------------- */

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  $background: #fbfbfb;

  color: black;
  font-family: $font-accent;
  font-size: rem(24);
  font-weight: 300;
  margin: 0;

  @include breakpoint('lg') {
    font-size: rem(32);
  }

  span {
    background: $background;
    display: inline;
    padding: rem(2);
    line-height: 1.7;
    box-shadow: rem(2) 0 0 $background, rem(-2) 0 0 $background;

    @include breakpoint('md') {
      box-shadow: rem(10) 0 0 $background, rem(-10) 0 0 $background;
    }
  }
}

/* -----------------------------------
 *
 * Tagline
 *
 * -------------------------------- */

.tagline {
  display: block;
  font-weight: 500;
  font-size: rem(12);
  letter-spacing: 0.2em;
  color: white;
  margin: rem(20) 0 0;
  text-transform: uppercase;
}

/* -----------------------------------
 *
 * Excerpt
 *
 * -------------------------------- */

.excerpt {
  display: block;
  font-weight: 300;
  font-size: rem(14);
  color: white;
  margin: rem(10) 0 0;
  line-height: 1.4;

  @include breakpoint('md') {
    font-size: rem(16);
  }
}
