@import 'template';

/* -----------------------------------
 *
 * Tile
 *
 * -------------------------------- */

.tile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* -----------------------------------
 *
 * Image
 *
 * -------------------------------- */

.image {
  position: relative;
  display: none;
  margin: 0;
  width: rem(100);
  border: rem(1) solid $colour-shadow;
  border-radius: rem(5);
  overflow: hidden;
  flex-shrink: 0;
  align-self: flex-start;

  @include breakpoint('sm') {
    display: block;
  }

  @include breakpoint('md') {
    width: rem(180);
  }

  @include breakpoint('lg') {
    width: 25%;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  flex: 1 1 auto;

  @include breakpoint('sm') {
    padding: 0 0 0 rem(20);
  }

  @include breakpoint('md') {
    padding: 0 0 0 rem(50);
  }
}

/* -----------------------------------
 *
 * Link
 *
 * -------------------------------- */

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  font-family: $font-accent;
  font-size: rem(24);
  font-weight: 300;
  margin: 0;

  @include breakpoint('lg') {
    font-size: rem(32);
  }
}

/* -----------------------------------
 *
 * Tagline
 *
 * -------------------------------- */

.tagline {
  display: block;
  font-weight: 500;
  font-size: rem(12);
  letter-spacing: 0.2em;
  color: black;
  margin: rem(20) 0 0;
  text-transform: uppercase;
}

/* -----------------------------------
 *
 * Excerpt
 *
 * -------------------------------- */

.excerpt {
  display: block;
  font-weight: 300;
  font-size: rem(14);
  color: black;
  margin: rem(10) 0 0;
  line-height: 1.4;

  @include breakpoint('md') {
    font-size: rem(16);
  }
}
