@import 'template';

/* -----------------------------------
 *
 * Tile
 *
 * -------------------------------- */

.tile {
  position: relative;
  display: block;
}

/* -----------------------------------
 *
 * Inner
 *
 * -------------------------------- */

.inner {
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: 0 rem(2) rem(4) rgba(0, 0, 0, 0.3);
  border-radius: rem(3);
  overflow: hidden;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    z-index: 2;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    background: rgba(51, 51, 51, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background ease-in-out 0.5s;
  }

  &:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%);
  }

  &:hover:before {
    background: rgba(51, 51, 51, 0.2);
  }
}

/* -----------------------------------
 *
 * Image
 *
 * -------------------------------- */

.image {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  padding: rem(30) rem(10);
  box-sizing: border-box;
  z-index: 3;

  @include breakpoint('md') {
    padding: rem(30) rem(20);
  }

  &:before {
    position: absolute;
    display: none;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  color: black;
  font-family: $font-accent;
  font-size: rem(24);
  font-weight: 300;
  margin: 0;

  $background: rgba(255, 255, 255, 0.85);

  @include breakpoint('xl') {
    font-size: rem(32);
  }

  span {
    background: $background;
    display: inline;
    padding: rem(2);
    line-height: 1.7;
    box-shadow: rem(2) 0 0 $background, rem(-2) 0 0 $background;

    @include breakpoint('md') {
      box-shadow: rem(10) 0 0 $background, rem(-10) 0 0 $background;
    }
  }
}

/* -----------------------------------
 *
 * Tagline
 *
 * -------------------------------- */

.tagline {
  display: block;
  bottom: rem(40);
  font-weight: 300;
  color: white;
  margin: auto 0 0;
}
