@import 'template';

/* -----------------------------------
 *
 * Component
 *
 * -------------------------------- */

component-main-intro {
  display: block;
  height: 100%;
}

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;
}

/* -----------------------------------
 *
 * Callout
 *
 * -------------------------------- */

.callout {
  display: inline-block;
  font-family: $font-accent;
  font-size: rem(120);
  font-weight: 100;
  font-style: normal;
  color: white;
  line-height: 1;

  &:first-of-type {
    font-weight: 300;
  }
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.text {
  color: white;
  font-size: rem(22);
  font-weight: 300;
  padding-left: rem(8);
  margin: rem(10) 0 0;
}

/* -----------------------------------
 *
 * Company
 *
 * -------------------------------- */

.company {
  display: inline-block;
  background-image: url('@/styles/images/groupon.svg');
  background-repeat: no-repeat;
  width: rem(100);
  height: rem(22);
  vertical-align: middle;
  margin: 0;
}

/* -----------------------------------
 *
 * Profile
 *
 * -------------------------------- */

.profile {
  display: inline-block;
  font-family: $font-accent;
  font-weight: 300;
  color: white;
  margin: rem(40) 0 0 rem(8);
  padding: rem(4) rem(1);
  background: linear-gradient(to bottom, $colour-accent 0%, $colour-accent 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  text-decoration: none;
  transition: background-size ease-in-out 0.2s;

  &:hover {
    background-size: 2px 50px;
  }
}
