@import 'template';

/* -----------------------------------
 *
 * Component
 *
 * -------------------------------- */

component-main-intro {
  display: block;
  height: 100%;
}

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;
}

/* -----------------------------------
 *
 * Callout
 *
 * -------------------------------- */

.callout {
  display: inline-block;
  font-family: $font-accent;
  font-size: rem(120);
  font-weight: 100;
  font-style: normal;
  color: white;
  line-height: 1;

  &:first-of-type {
    font-weight: 300;
  }
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.text {
  color: white;
  font-size: rem(22);
  font-weight: 300;
  padding-left: rem(8);
  margin: rem(10) 0 0;
}

/* -----------------------------------
 *
 * Company
 *
 * -------------------------------- */

.company {
  display: inline-block;
  background-image: url('@/styles/images/groupon.svg');
  background-repeat: no-repeat;
  width: rem(100);
  height: rem(22);
  vertical-align: middle;
  margin: 0;
}

/* -----------------------------------
 *
 * Profile
 *
 * -------------------------------- */

.profile {
  display: inline-block;
  color: white;
  padding-left: rem(8);
  margin: rem(50) 0 0;
}
