@import 'template';

/* -----------------------------------
 *
 * Component
 *
 * -------------------------------- */

component-main-intro {
  display: block;
  height: 100%;
}

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  @include breakpoint('md') {
    text-align: left;
  }
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;
}

/* -----------------------------------
 *
 * Callout
 *
 * -------------------------------- */

.callout {
  display: inline-block;
  font-family: $font-accent;
  font-size: rem(42);
  font-weight: 100;
  font-style: normal;
  color: white;
  line-height: 1;

  @include breakpoint('md') {
    font-size: rem(90);
  }

  @include breakpoint('lg') {
    font-size: rem(120);
  }

  &:first-of-type {
    font-weight: 300;
    margin: 0 0.15em 0 0;
  }
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.text {
  color: white;
  font-size: rem(18);
  font-weight: 300;
  padding-left: rem(8);
  margin: rem(20) auto 0;
  max-width: rem(280);

  @include breakpoint('md') {
    margin: rem(10) 0 0;
    font-size: rem(22);
    max-width: none;
  }
}

/* -----------------------------------
 *
 * Company
 *
 * -------------------------------- */

.company {
  display: inline-block;
  background-image: url('@/styles/images/groupon.svg');
  background-repeat: no-repeat;
  width: rem(70);
  height: rem(16);
  vertical-align: middle;
  margin: 0 rem(4);
  overflow: hidden;
  text-indent: rem(9999);

  @include breakpoint('md') {
    width: rem(100);
    height: rem(22);
  }
}

/* -----------------------------------
 *
 * Profile
 *
 * -------------------------------- */

.profile {
  position: relative;
  display: inline-block;
  font-family: $font-accent;
  font-weight: 300;
  color: white;
  margin: rem(30) 0 0;
  padding: rem(4) rem(1);
  text-decoration: none;

  @include breakpoint('md') {
    margin: rem(40) 0 0 rem(8);
  }

  &:before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }

  &:after {
    display: inline-block;
    content: '';
    width: rem(18);
    height: rem(18);
    margin: 0 0 0 rem(5);
    vertical-align: middle;
    background-image: url('@/styles/images/chevron-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    &:before {
      visibility: visible;
      width: calc(100% - #{rem(25)});
    }
  }
}
