@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  @extend %container;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  display: block;
  text-align: center;
  margin: 0;
  font-size: 18px;
  color: $colour-white;

  @include breakpoint('md') {
    font-size: 24px;
  }
}

/* -----------------------------------
 *
 * Code
 *
 * -------------------------------- */

.code {
  display: block;
  font-family: $font-accent;
  font-size: 64px;
  line-height: 1;
  color: $colour-border;
  font-style: normal;
  margin: 0 0 0.3em;

  @include breakpoint('lg') {
    font-size: 84px;
  }
}
