@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  @extend %container;

  display: flex;
  background-color: $colour-white;
  padding-top: rem(50);
  padding-bottom: rem(50);
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  width: 100%;
  font-size: rem(24);
  font-weight: 300;
  color: $colour-border;
  justify-self: center;
  align-self: center;
  margin: 0;
  text-align: center;

  @include breakpoint('md') {
    font-size: rem(32);
  }
}
