@import 'template';

/* -----------------------------------
 *
 * Banner
 *
 * -------------------------------- */

.banner {
  display: block;
  background: $colour-light;
  border-bottom: rem(1) solid $colour-shadow;
  box-sizing: border-box;
  height: rem(68);

  @include breakpoint('md') {
    height: rem(100);
  }
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;

  display: flex;
  align-items: center;
  height: 100%;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.banner {
  h1,
  h2,
  h3,
  h4 {
    font-family: $font-accent;
    font-weight: 100;
    font-size: rem(32);
    margin: 0;

    @include breakpoint('md') {
      font-size: rem(46);
    }
  }
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.banner p {
  margin: 0;
}
