@import 'template';

/* -----------------------------------
 *
 * Profile
 *
 * -------------------------------- */

.profile {
  border: rem(1) solid $colour-shadow;
  border-radius: rem(3);
  padding: rem(10);
  margin: 0;
  background: $colour-light;
  box-sizing: border-box;

  @include breakpoint('sm') {
    margin: 0 auto;
    max-width: rem(240);
  }

  @include breakpoint('lg') {
    padding: rem(30);
    max-width: none;
  }
}

/* -----------------------------------
 *
 * Image
 *
 * -------------------------------- */

.image {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: rem(160);

  @include breakpoint('xl') {
    max-width: rem(200);
  }

  &:before {
    display: block;
    content: '';
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
  }
}

/* -----------------------------------
 *
 * Caption
 *
 * -------------------------------- */

.caption {
  margin-top: rem(20);
  text-align: center;
  line-height: 1.2;

  em {
    display: block;
    font-family: $font-accent;
    font-style: normal;
    font-weight: 500;
    font-style: rem(16);
    margin: 0 0 rem(20);

    @include breakpoint('xl') {
      font-size: rem(20);
    }

    span {
      display: block;
      font-weight: 300;
    }
  }

  p {
    margin: 0 0 rem(3);
    font-size: rem(13);
  }
}
