@import 'template';

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  height: 100%;
  background-image: url('@/styles/images/splash.jpg');
  background-position: center;
  background-size: cover;
}
