@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  background-image: url('@/styles/images/background.png');
  background-position: center;
  display: flex;
  height: 0;
  min-height: 100%;
  flex-direction: column;
}

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  position: relative;
  z-index: 2;
  padding: rem(40) 0 0;
  flex: 1 0 auto;
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;
}
