@import 'template';

/* -----------------------------------
 *
 * Articles
 *
 * -------------------------------- */

.articles {
  display: block;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: rem(15);
    padding-bottom: rem(15);
    font-size: rem(16);
    border-bottom: rem(1) solid $colour-shadow;
  }

  a {
    color: $colour-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
