/* -----------------------------------
 *
 * Template
 *
 * -------------------------------- */

$colour-accent: #00a78e;
$colour-background: #222;

/* -----------------------------------
 *
 * Primitives
 *
 * -------------------------------- */

$colour-white: #fff;

/* -----------------------------------
 *
 * Shades
 *
 * -------------------------------- */

$colour-border: #444;
