/* -----------------------------------
 *
 * Global
 *
 * -------------------------------- */

$colour-white: #fff;
$colour-background: #222;

/* -----------------------------------
 *
 * Shades
 *
 * -------------------------------- */

$colour-border: #444;
