/* -----------------------------------
 *
 * Fonts
 *
 * -------------------------------- */

$font-accent: 'Poppins', sans-serif;
$font-default: 'Roboto', 'Open Sans', sans-serif;

/* -----------------------------------
  *
  * Sizes
  *
  * -------------------------------- */

$font-size-base: 16;
$font-size-body: 15;
