/* -----------------------------------
 *
 * Fonts
 *
 * -------------------------------- */

$font-default: 'Poppins', sans-serif;
// $font-accent: 'Montserrat', sans-serif;

/* -----------------------------------
  *
  * Sizes
  *
  * -------------------------------- */

$font-size-base: 16;
$font-size-body: 15;
