@import 'template';

/* -----------------------------------
 *
 * Footer
 *
 * -------------------------------- */

.footer {
  @extend %container;

  display: flex;
  width: 100%;
  max-width: none;
  color: $colour-white;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  justify-content: center;

  @include breakpoint('lg') {
    justify-content: flex-start;
  }
}

/* -----------------------------------
 *
 * Social
 *
 * -------------------------------- */

.social {
  @include breakpoint('lg') {
    margin-left: auto;
  }
}
