@import 'template';

/* -----------------------------------
 *
 * Header
 *
 * -------------------------------- */

.header {
  @extend %container;

  text-align: center;
  width: 100%;
  line-height: 1;
  padding-top: 50px;
  padding-bottom: 50px;

  @include breakpoint('lg') {
    text-align: left;
  }
}

/* -----------------------------------
 *
 * Logo
 *
 * -------------------------------- */

.logo {
  font-family: $font-accent;
  display: inline-block;
  font-size: 42px;
  font-weight: 200;
  color: $colour-white;
  text-decoration: none;

  &:before {
    display: inline-block;
    content: '';
    width: 0.45em;
    height: 0.45em;
    margin-right: 0.15em;
    background: $colour-accent;
    border-radius: 2px;
  }
}
