@import 'template';

/* -----------------------------------
 *
 * Header
 *
 * -------------------------------- */

.header {
  @extend %container;

  text-align: center;
  width: 100%;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 20px;

  @include breakpoint('lg') {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* -----------------------------------
 *
 * Logo
 *
 * -------------------------------- */

.logo {
  font-family: $font-accent;
  display: inline-block;
  font-size: 42px;
  font-weight: 300;
  color: $colour-white;
  text-decoration: none;
}
