@import 'template';

/* -----------------------------------
 *
 * Document
 *
 * -------------------------------- */

body {
  background: $colour-background;
  font-family: $font-sans;
  margin: 0;
}
