@import 'template';

/* -----------------------------------
 *
 * Social
 *
 * -------------------------------- */

.social {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  font-family: $font-accent;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 0 0 1em;
}

/* -----------------------------------
 *
 * List
 *
 * -------------------------------- */

.list {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* -----------------------------------
 *
 * Item
 *
 * -------------------------------- */

.item {
  display: inline-block;
  border-right: 1px solid $colour-border;

  &:last-child {
    border-right: 0;
  }
}

/* -----------------------------------
 *
 * Link
 *
 * -------------------------------- */

.link {
  display: block;
  padding: 0 20px;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

/* -----------------------------------
 *
 * Icon
 *
 * -------------------------------- */

.icon {
  display: block;
  width: 24px;
}
