@import 'template';

/* -----------------------------------
 *
 * Social
 *
 * -------------------------------- */

.social {
  @extend %container;

  color: $colour-white;
  text-align: center;

  @include breakpoint('lg') {
    position: absolute;
    text-align: right;
    width: 100%;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* -----------------------------------
 *
 * Inner
 *
 * -------------------------------- */

.inner {
  display: inline-block;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  font-family: $font-accent;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 0 0 1em;
}

/* -----------------------------------
 *
 * List
 *
 * -------------------------------- */

.list {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* -----------------------------------
 *
 * Item
 *
 * -------------------------------- */

.item {
  display: inline-block;
  opacity: 0.5;
  border-right: 1px solid $colour-border;
  transition: opacity 0.3s;

  &:last-child {
    border-right: 0;
  }

  &:hover {
    opacity: 1;
  }
}

/* -----------------------------------
 *
 * Link
 *
 * -------------------------------- */

.link {
  display: block;
  padding: 0 20px;
}

/* -----------------------------------
 *
 * Icon
 *
 * -------------------------------- */

.icon {
  display: block;
  width: 24px;
}
