@import 'template';

/* -----------------------------------
 *
 * Splash
 *
 * -------------------------------- */

.splash {
  @extend %container;

  align-self: center;
  justify-self: center;
  color: $colour-white;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  font-family: $font-accent;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 3em;
  text-align: center;

  @include breakpoint('lg') {
    text-align: left;
  }

  &::before,
  &::after {
    display: block;
    content: '';
    height: 2px;
    width: 45px;
    margin: 0 auto;
    background: $colour-border;

    @include breakpoint('sm') {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }

  &:before {
    margin-bottom: 2em;

    @include breakpoint('sm') {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }

  &:after {
    margin-top: 2em;

    @include breakpoint('sm') {
      margin-top: 0;
      margin-left: 1em;
    }
  }
}

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  display: flex;
  flex-direction: column;

  @include breakpoint('md') {
    flex-direction: row;
  }
}

/* -----------------------------------
 *
 * Column
 *
 * -------------------------------- */

.column {
  flex: 1 1 0%;
}

/* -----------------------------------
 *
 * Heading
 *
 * -------------------------------- */

.heading {
  font-family: $font-accent;
  font-size: 32px;
  font-weight: 500;
  color: $colour-white;
}
