<!-- prettier-ignore -->
{{ $sassOptions := (dict "includePaths" (slice "assets/sass/theme") "targetPath" "css/document.css") }}
{{ $style := resources.Get "sass/document.scss" | toCSS $sassOptions  | minify | fingerprint }}

<!DOCTYPE html>
<html>
  <head>
    <title>ME!</title>
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
  <body>
    <!-- prettier-ignore -->
    {{ partial "header.html" . }}
    {{ partial "splash.html" . }}

    <!-- prettier-ignore -->
    {{ partial "footer.html" . }}
  </body>
</html>
