@import 'template';

/* -----------------------------------
 *
 * Articles
 *
 * -------------------------------- */

.articles {
  display: block;
}

/* -----------------------------------
 *
 * Item
 *
 * -------------------------------- */

.item {
  margin: 0 0 rem(30);

  @include breakpoint('md') {
    margin: 0 0 rem(50);
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: rem(1);
    margin: rem(30) auto 0;
    border-bottom: rem(1) solid #d6d6d6;

    @include breakpoint('md') {
      margin: rem(50) auto 0;
      width: 90%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
