@import 'template';

/* -----------------------------------
 *
 * Banner
 *
 * -------------------------------- */

.banner {
  display: block;
  padding: rem(10) 0;
  background: #fbfbfb;
  border-bottom: rem(1) solid #b6b6b6;

  @include breakpoint('md') {
    padding: rem(20) 0;
  }
}

/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
  @extend %container;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.banner {
  h1,
  h2,
  h3,
  h4 {
    font-family: $font-accent;
    font-weight: 100;
    font-size: rem(32);
    margin: 0;

    @include breakpoint('md') {
      font-size: rem(46);
    }
  }
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.banner p {
  margin: 0;
}
